* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ffe3ae;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3rem 0;
}

img {
    width: 250px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.title {
    margin-top: 0;
    font-size: 2.5rem;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.about, .login {
    padding: 2rem;
}

.about {
    width: 400px;
    padding: 0 1.5rem;
    text-align: center;
    background-color: white;
    border: 2px solid gray;
    font-size: 1.5rem;

}

.about h2 {
    margin-bottom: 1.5rem;
}

.about p {
    margin-top: 0;
}

.login {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.login h2 {
    margin-bottom: 2.5rem;
    text-align: center;
}

input {
    padding: 1rem 0.5rem;
    font-size: 1rem;
}

.email {
    margin-bottom: 1.5rem;
}

.forgotPassword {
    color: #006ce5;
    margin: 1rem 0;
    font-size: 1rem;
}

button {
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    padding: 1rem 0;
    padding: 1rem 2rem;
    align-self: center;
    cursor: pointer;
}

a {
    margin: 0 auto;
}

@media (max-width: 800px) {
    :root {
        font-size: 0.7rem;
    }

    body {
        min-width: 500px
    }

    header {
        margin-bottom: 1rem;
    }
    
    .container {
        flex-direction: column;
    }

    .about {
        margin: 0 auto;
        width: 100%;
    }

    .login h2 {
        margin-bottom: 2rem;
    }
}