<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="Account Management (Admin).css">
</head>
<body>

    <header>
        <div class="image">
            <a href="/index.html">
                <img src="/images/Six7TwoLogo.png" alt="">
            </a>
        </div>

            <h1 id="title">ACCOUNT MANAGEMENT</h1>
 
    </header>

    <main>

        <div class="nav">
            <a href="/products">
                <button>Products</button>
            </a>

            <a href="/inventory">
                <button>Inventory</button>
            </a>

            <a href="/reports">
                <button>Reports</button>
            </a>

            <a href="account">
                <button class="page-btn">Accounts</button>
            </a>
        </div>

        <div class="table-container">
            

            <table>
                <tr>
                    <th>Type</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>

                <tr>
                    <td>
                        <select name="" id="">
                            <option value="">Admin</option>
                            <option value="">Student</option>
                        </select>
                    </td>
                    <td><input type="text" name="" id=""></td>
                    <td><input type="password" name="" id=""></td>
                    <td><button class="delete-btn">Delete account</button></td>
                </tr>
                

                
            </table>

            <div class="register-container">
                <button class="registerBtn">REGISTER ACCOUNT</button>
            </div>
        </div>

    </main> 

</body>
</html>