<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Home (Admin).css">
    <title>Inventory System | Admin</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="/Six7TwoLogo.png" alt=""/>
        </a>
        <h1 class="title">Inventory Management System</h1>
    </header>

    <div class="container"> 
        <div class="about">
            <h2>About the System</h2>
            <p>This System is dedicated to only be used by Six 7 Two Printshop Staff. Its main purpose is to record the inventory of the Business and Generate Reports with Analysis in order to aid the Business in Monitoring their Inventory with the Integration of Information Technology Infrastructure Library (ITIL) Practices.</p>
        </div>

        <div class="selections">
            <h2 style="text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;">Get Started</h2>
            <button class="gray-bg-white-color">PRODUCTS</button>
            <button class="gray-bg-white-color">INVENTORY</button>
            <button class="gray-bg-white-color">REPORTS</button>
            <button class="gray-bg-white-color">ACCOUNTS</button>
            <!--<button>CHANGE PASSWORD</button>-->
            <a href="/">    
                <button id="logoutBtn" type="button">LOGOUT</button>
            </a>
        </div>
    </div>

    <script src="/Home (Admin).js"></script>
</body>
</html>