<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Inventory System | Login</title>
</head>
<body>
    
    <header>
        <a href="/">
            <img src="Six7TwoLogo.png" alt=""/>
        </a>
        <h1 class="title">Inventory Management System</h1>
    </header>

    <div class="container">
        <div class="about">
            <h2>About the System</h2>
            <p>This System is dedicated to only be used by Six 7 Two Printshop Staff. Its main purpose is to record the inventory of the Business and Generate Reports with Analysis in order to aid the Business in Monitoring their Inventory with the Integration of Information Technology Infrastructure Library (ITIL) Practices.</p>
        </div>

        <form id="form" action="/home">
            <div class="login">
                <h2>Login to Get Started</h2>
                <input type="email" class="email" placeholder="EMAIL" required>
                <input type="password" name="" id="" placeholder="PASSWORD" required>
                <a href="#" class="forgotPassword">Forgot password</a>
                <a href="/home">
                    <button id="loginBtn">LOGIN</button>
                    <a href="/account">
                    <button type="button">Account Management(TESTING)</button>
                </a>
                </a>
            </div>
        </form>
    </div>

    <script src="index.js"></script>
</body>
</html>