<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title><%= title %></title>
</head>
<body>
    
    <header>
        <a href="/">
            <img src="/Six7TwoLogo.png" alt="">
        </a>
        <h1 class="title">Inventory Management System</h1>
    </header>

    <div class="container">
        <!-- LEFT SIDE -->
        <div class="about">
            <h2>About the System</h2>
            <p>This System is dedicated to only be used by Six 7 Two Printshop Staff. Its main purpose is to record the inventory of the Business and Generate Reports with Analysis in order to aid the Business in Monitoring their Inventory with the Integration of Information Technology Infrastructure Library (ITIL) Practices.</p>
        </div>

        <!-- RIGHT SIDE -->
        <form id="form">

            <div class="login" id="loginContainer">
                <h2>Login to Get Started</h2>
                <input type="email" class="email" placeholder="EMAIL" id="email" required>
                <input type="password" name="" id="password" placeholder="PASSWORD" required>
                <!-- <a href="#" class="forgotPassword">Forgot password</a> -->   
                <a href="#">
                    <button type="submit" id="loginBtn" style="display: inline-block; margin-top: 20px;">LOGIN</button>
                </a>
                    
                    <a href="/account">
                        <button type="button" id="test">Account Management(TESTING)</button>
                    </a>
            </div>

                <div class="selections" id="selectionsContainer">
                        <h2>Get Started</h2>
                        <a href="/products">
                        <button type="button" class="gray-bg-white-color menu">PRODUCTS</button>
                        </a>

                        <a href="/inventory">
                        <button type="button" class="gray-bg-white-color menu">INVENTORY</button>
                        </a>

                        <a href="/reports">
                        <button type="button" class="gray-bg-white-color menu">REPORTS</button>
                        </a>

                        <a href="/account">
                        <button type="button" class="gray-bg-white-color menu" id="accBtn">ACCOUNTS</button>
                        </a>

                        <a href="#">
                        <!--<button>CHANGE PASSWORD</button>-->
                        </a>

                        <a href="/">    
                            <button id="logoutBtn" type="button" onclick="logout()">LOGOUT</button>
                        </a>
                    </div>

                        
                
            </div>
        </form>
    </div>


<script>
const form = document.getElementById('form')
        form.addEventListener('submit', login)
        
        let signedIn = false;
        async function login(event) {
            event.preventDefault()
            const email = document.getElementById('email').value
            const password = document.getElementById('password').value

            const result = await fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email,
                    password
                })
            }).then((res) => res.json())
            if(result.status === 'ok') {
                alert('Successfully logged in')
                location.href="/"
                signedIn = true;
                localStorage.setItem("TOKEN", result.data)
            }else {
                alert(result.error)
            }
        }

const selectionBtns = document.getElementById("selectionsContainer")

//FOR DECODING JWT TOKEN AFTER LOGGING IN
function parseJwt (token) { 
        var base64Url = token.split('.')[1];
        var base64 = decodeURIComponent(atob(base64Url).split('').map(function(c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
    }).join(''));

    return JSON.parse(base64);
}

let accBtn = document.getElementById("accBtn")
let accType = parseJwt(localStorage.getItem("TOKEN")).type
console.log(accType)
if (localStorage.getItem("TOKEN")) {
    document.getElementById("loginContainer").style.display = "none"
    selectionBtns.style.display = "flex"

    if (accType === "Admin") {
        
    } else {
        console.log("Employee")
        accBtn.style.display = "none"
    }
}


function logout() {
    if (localStorage.getItem("TOKEN")) {
        localStorage.removeItem("TOKEN")
        window.location.href = "/"
        alert("Logged out sucessfully, redirecting to homepage")
    } else {
        fullSentence.textContent = "Not logged in"
        showEmail.textContent = " "
    }
}
</script>
</body>
</html>