<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/chart.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/smile.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/copy.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/pen.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <title>Reports</title>
    <link rel="stylesheet" href="/Reports (Admin).css">
</head>
<body id="body">

    <header>
        

          
 
    </header>

    <div class="flexx">
    <div class="nav">
        <div class="image">
            <a href="/">
                <img src="/Six7TwoLogo.png" alt="">
            </a>
        </div>

        <div class="we">
        <a class="bb" href="/products">
            <div class="te">
                <h5 class="test">Products</h5>
            </div>
        </a>

        <a class="bb" href="/inventory">
            <div class="te">
                <h5 class="test">Inventory &nbsp <span class="badge" id="invNavWarning">0</span> </h5>
            </div>
        </a>

        <a class="bb" href="/reports">
            <div class="te" id="currentPage">
                <h5 class="test">Reports</h5>
            </div>
        </a>

        <a class="bb" href="/supplier">
            <div class="te">
                <h5 class="test">Supplier</h5>
            </div>
        </a>

        <a class="bb" href="/transactions">
            <div class="te">
                <h5 class="test" id="accBtn">Transactions</h5>
            </div>
        </a>

        <a class="bb" href="/logs">
            <div class="te">
                <h5 class="test">Logs</h5>
            </div>
        </a>

        <a class="bb" href="/archive">
            <div class="te"">
                <h5 class="test employeeHidden">Archive</h5>
            </div>
        </a>

        <a class="bb" href="/account">
            <div class="te">
                <h5 class="test employeeHidden">Accounts</h5>
            </div>
        </a>

        <div id="logoutBtn" onclick="logout()" style="cursor: pointer;">
            <h5 class="testLogout" id="accBtn">Logout</h5>
        </div>

    </div>
    </div>
    
    <main>
        <div>
            <i class="fas fa-bell" id="notifIcon" onclick="showAlert()">
                <span class="badge" id="lowStockCount">0</span> 
            </i>
            <div class="lowStockDiv" id="lowStockDiv">
        </div>

    </div>
        

        <div class="title-con">
       <h1 id="title">REPORTS</h1>
    </div>
        <input type="hidden" name="action" value="saveEditedRow">
        

        

        <div class="table-container">

            <div id = "prodTableContainer">
            <div class="search-date">


               <!-- <p id="date">-->
                    <!-- Date is dynamically rendered from JS -->
               <!--  </p> -->


            </div>
            
            <table id ="productTable">
                <!-- FROM -->
                <div class="date-con">

                    <div>
                        <label for="fromDate">From: </label>
                        <input type="date" name="fromDate" id="fromDate">
                    </div>

                <!-- TO -->
                    <div>
                        <label for="toDate">To: </label>
                        <input type="date" name="toDate" id="toDate">
                    </div>

                <button id="generate">GENERATE</button>
            </div>
        
                <thead>
                <tr>
                    <th>CODE</th>
                    <th>PRODUCT NAME</th>
                    <th>TOTAL SALES</th>
                </tr>
            </thead>
              
        
                
            </table>

        </div>
           
        

        
      

    
      
                <!-- Edit button -->
       
        <!-- Modal for editing -->
       
        <div id="productsDisplay" style="display: none;"><%= JSON.stringify(products) %></div>
        <div id="transactionData" style="display: none;"><%= JSON.stringify(transactions) %></div>

   
        </div>

    </main> 

    </div>


    <script>
//GET DATE INPUT

let fromDate = document.getElementById("fromDate").value
let toDate = document.getElementById("toDate").value
let generate = document.getElementById("generate")


const productsData = document.getElementById('productsDisplay').innerHTML;
const decodedProducts = JSON.parse(productsData.replace(/&quot;/g, '"'));
console.log(decodedProducts);

const transactionData = document.getElementById('transactionData').innerHTML;
const decodedtransactionData = JSON.parse(transactionData.replace(/&quot;/g, '"'));
console.log(decodedtransactionData);

generate.addEventListener('click', () => {
    const fromDateValue = new Date(document.getElementById("fromDate").value);
    const toDateValue = new Date(document.getElementById("toDate").value);

    const filteredTransactionData = decodedtransactionData
        .filter(product => (
            product.code !== undefined &&
            product.totalSales !== undefined &&
            product.createdAt !== undefined &&
            new Date(product.createdAt) >= fromDateValue &&
            new Date(product.createdAt) <= toDateValue
        ));

    const combinedData = filteredTransactionData.reduce((accumulator, product) => {
        if (!accumulator.hasOwnProperty(product.code)) {
            accumulator[product.code] = {
                totalSales: product.totalSales,
                code: product.code,
                productName: product.productName
            };
        } else {
            accumulator[product.code].totalSales += product.totalSales;
        }
        return accumulator;
    }, {});

    const tableBody = document.getElementById('productTable'); // Get the table body element

    // Clear previous table body data
    tableBody.innerHTML = '';

    // Create the table header
    const tableHeader = document.createElement('thead');
    const headerRow = document.createElement('tr');
    const codeHeader = document.createElement('th');
    const productNameHeader = document.createElement('th');
    const totalSalesHeader = document.createElement('th');

    codeHeader.textContent = 'CODE';
    productNameHeader.textContent = 'PRODUCT NAME';
    totalSalesHeader.textContent = 'TOTAL SALES';

    headerRow.appendChild(codeHeader);
    headerRow.appendChild(productNameHeader);
    headerRow.appendChild(totalSalesHeader);
    tableHeader.appendChild(headerRow);

    // Append the table header to the table
    tableBody.appendChild(tableHeader);

    // Function to create table rows with data
    function createTableRow(data) {
        const row = document.createElement('tr');
        const codeCell = document.createElement('td');
        const productNameCell = document.createElement('td');
        const totalSalesCell = document.createElement('td');

        codeCell.textContent = data.code;
        productNameCell.textContent = data.productName;
        totalSalesCell.textContent = data.totalSales;

        row.appendChild(codeCell);
        row.appendChild(productNameCell);
        row.appendChild(totalSalesCell);

        return row;
    }

    // Function to populate the table body with data
    function populateTable(dataObj) {
        Object.values(dataObj).forEach(data => {
            const row = createTableRow(data);
            tableBody.appendChild(row);
        });
    }

    // Call the function to populate the table body with aggregated data
    populateTable(combinedData);
});








let lowStockCountSpan = document.getElementById('lowStockCount')
let notifDiv = document.getElementById('lowStockDiv')
let notifIcon = document.getElementById('notifIcon')

let lowStockCount = 0;

if (decodedProducts.length > 0) {
    let productDetailsHTML = '';

    for (let i = 0; i < decodedProducts.length; i++) {
        if (decodedProducts[i].currentInv <= decodedProducts[i].lowStockThreshold) {
            lowStockCount++;
            let productDetails = `Product: ${decodedProducts[i].productName}, TH: ${decodedProducts[i].lowStockThreshold}, Inv: ${decodedProducts[i].currentInv} <br>`;
            productDetailsHTML += productDetails;
        }
    }

    notifDiv.innerHTML = productDetailsHTML;

    // Show or hide notifDiv based on the lowStockCount
    if (lowStockCount > 0) {
        notifDiv.style.display = 'none';
    } else {
        notifDiv.style.display = 'none';
        notifIcon.style.display = 'none';
    }
} else {
    notifDiv.style.display = 'none';
    notifIcon.style.display = 'none';
}


lowStockCountSpan.textContent = lowStockCount
if (lowStockCount == 0) {
    document.getElementById('invNavWarning').style.display = "none"
}
document.getElementById('invNavWarning').textContent = lowStockCount


function showAlert() {
    notifDiv.style.display = "block"
}


//FOR DECODING JWT TOKEN AFTER LOGGING IN
function parseJwt (token) { 
        var base64Url = token.split('.')[1];
        var base64 = decodeURIComponent(atob(base64Url).split('').map(function(c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
    }).join(''));

    return JSON.parse(base64);
}

function logout() {
    if (localStorage.getItem("TOKEN")) {
        localStorage.removeItem("TOKEN")
        window.location.href = "/"
        alert("Logged out sucessfully, redirecting to homepage")
    } else {
        fullSentence.textContent = "Not logged in"
        showEmail.textContent = " "
    }
}


    if (localStorage.getItem("TOKEN") === null) {
        document.getElementById("body").style.display = "none"
        alert("You don't have permission to access this page.");
            window.history.back();
    }


  
    let accType = parseJwt(localStorage.getItem("TOKEN")).type
    let employeeHidden = document.getElementsByClassName("employeeHidden");

    if (localStorage.getItem("TOKEN")) {
        if (accType === "Admin") {
            accBtn.style.display = "flex"
        } else {
            console.log("Should not")
            for (let i = 0; i < employeeHidden.length; i++) {
                employeeHidden[i].style.display = "none";
            }
        }
    }

        </script>
    </body>
</html>
