* {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: 3rem auto 0 auto;
    background-color: #ffe3ae;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    margin: 0 auto;
}

img {
    width: 15rem;
}

header {
    display: flex;
    align-items: center;
}

.image {
    width: 0%;
}


header h1 {
    margin: auto;
    font-size: 3rem;
}

main {
    padding: 3rem;
    display: flex;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem; 
    margin-right: 2rem;  
}

button {
    cursor: pointer;
}

.nav button {
    background-color: #5f5f5d;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 1rem;
    color: white;
    width: 150px;
    margin: 0 auto;
}

.nav .page-btn{
    background-color: rgb(241, 241, 26);
    color: #444444;
    border: 1px solid gray;
}

table {
    max-width: 1000px;
    width: 100%;
    table-layout: fixed;
    margin-top: 1rem;
}

.table-container {
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

tr input, tr select, tr button {
    display: block;
    margin: 1rem auto;
    width: 90%;
    padding: 0.4rem 0.3rem;
}

input, table button, select {
    font-size: 1.2rem;
}

table th {
    font-size: 2rem;
    padding: 1.2rem 0.5rem;
    width: 20%; /* Distributing headers evenly among 7 columns */
    overflow: hidden;
    text-overflow:ellipsis;
    /* Allow headers to wrap content and adjust width */
    white-space: normal; /* Allow content to wrap */
}

.delete-btn {
    background-color: rgb(240, 104, 104);
    border: 0;
    padding: 0.7rem 0;
    margin: 0 auto;
    width: 90%;
    font-weight: bold;
    border-radius: 4px;
}

.register-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 1rem;
}

.registerBtn {
    background-color: #92d36d;
    margin: 5rem 1rem;
    border: 0;
    padding: 1rem;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1.2rem;
}

.addBtn {
    background-color: #ebeaeb;
}


@media (max-width:800px) {
    :root {
        font-size: 0.5rem;
    }

    main {
        flex-direction: column-reverse;
    }

    .nav {
        margin-top:  5rem;
    }

    .registerBtn {
        margin-top: 10rem;
    }


}