* {
    box-sizing: border-box;
}

body {
    margin: 0 auto 0 auto;
    background-color: #f7f6f6;
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    font-size: 3.5rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-style:italic;
}

#main {
    display: flex;

}

.bb {
    width: 300px;
    color: black;
    
}

.we {
    margin-top: 2rem;
}

.test {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 0;
    padding: 1rem 0;

}

.testLogout {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 12rem;
    padding: 1rem 0;
}

.te {
    border-radius: 10px;
    margin: 0 2rem;

}

.te:hover {
    background-color: #f7af28;

}

#currentPage {
    background-color: #f7af28;

}

#logoutBtn {
    background-color: gray;
    text-align: center;
}

a {
    text-decoration: none;
    margin: 0 auto;
}

img {
    width: 20rem;
}


header {
    display: flex;
    align-items: center;
}

.image {
    border-bottom: 2px solid black;
}


header h1 {
    margin: auto;
    font-size: 3rem;
}


.nav {
    position: fixed;
    height: 100vh;
    margin-right: 2rem;  
    background-color: #ffc760;
}


button {
    cursor: pointer;
}

.nav button {
    background-color: #5f5f5d;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 1rem;
    color: white;
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Adding transition for smooth effect */
}

.nav button:hover {
    background-color: rgb(59, 58, 58);
    box-shadow: rgba(50, 50, 93, 0.5) 0px 50px 100px -20px, rgba(0, 0, 0, 0.7) 0px 30px 60px -30px, rgba(10, 37, 64, 0.8) 0px -2px 6px 0px inset;
    transform: scale(1.05); /* Slightly scale up the element */
  }
  
  .nav .page-btn{
      background-color: rgb(241, 241, 26);
      color: #444444;
      border: 1px solid gray;
  }
  
  .nav .page-btn:hover {
      background-color: rgb(241, 241, 26);
    box-shadow: rgba(50, 50, 93, 0.5) 0px 50px 100px -20px, rgba(0, 0, 0, 0.7) 0px 30px 60px -30px, rgba(10, 37, 64, 0.8) 0px -2px 6px 0px inset;
    transform: scale(1.05); /* Slightly scale up the element */
  }

.page-btn {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

table {
    width: 100%;
    max-width: 1200px;
    table-layout: fixed;
    margin-top: 1rem;
}

.table-container {
    margin-left: 30rem;
    display: flex;
    flex-direction: column;
}

tr input, tr select, tr button {
    display: block;
    margin: 1rem auto;
    width: 90%;
    padding: 0.4rem 0.3rem;
}

input, table button, select {
    font-size: 1.2rem;
}

table th {
    font-size: 2rem;
    padding: 1.2rem 0.5rem;
    width: 20%; /* Distributing headers evenly among 7 columns */
    overflow: hidden;
    text-overflow:ellipsis;
    /* Allow headers to wrap content and adjust width */
    white-space: normal; /* Allow content to wrap */
}

.delete-btn {
    background-color: rgb(240, 104, 104);
    border: 0;
    padding: 0.7rem 0;
    margin: 0 auto;
    width: 90%;
    font-weight: bold;
    border-radius: 4px;
}

.delete-btn:hover {
    border: 1px solid black;
    background-color: rgb(237, 83, 83);
}


.register-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 1rem;
}

.registerBtn {
    background-color: #92d36d;
    margin: 5rem 1rem;
    border: none;
    padding: 1rem 2rem;
    font-weight: bold;
    border-radius: 3px;
    font-size: 1.2rem;
    border-radius: 20px;
}

.registerBtn:hover {
    border: 1px solid black;
    background-color: #82d054;
}

.addBtn {
    background-color: #ebeaeb;
}

/* NOTIF */
.lowStockDiv {
    background-color: white;
    padding: 1rem;
    position: absolute;
    right: 3%;
    top: 8%;
    display: none;
    overflow: scroll;
    height: 130px;
}

.fa-bell {
    position: absolute;
    right: 6%;
    font-size: 2rem;
    top: 4%;
    cursor: pointer;
}

.badge {
    position: relative;
    font-family: sans-serif;
    color: red;
}


@media (max-width:800px) {
    :root {
        font-size: 0.5rem;
    }

    main {
        flex-direction: column-reverse;
    }

    .nav {
        margin-top:  5rem;
    }

    .registerBtn {
        margin-top: 10rem;
    }


}