* {
    box-sizing: border-box;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

body {
    margin: 0;
    background-color: #ffe3ae;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem 0;
    position: relative; /* Ensure proper positioning for pseudo-element */
}

body::before {
    content: "";
    background-image: url("/invtest.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    filter: blur(5px)  brightness(55%); /* Apply a 3px blur effect to the background image */
    z-index: -1; /* Place the pseudo-element behind the content */
}

img {
    width: 250px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.test {
    background: white;
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Adding transition for smooth effect */
  }
  
  .test:hover {
    box-shadow: rgba(50, 50, 93, 0.5) 0px 50px 100px -20px, rgba(0, 0, 0, 0.7) 0px 30px 60px -30px, rgba(10, 37, 64, 0.8) 0px -2px 6px 0px inset;
    transform: scale(1.05); /* Slightly scale up the element */
  }
  
  

.ud {
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.test h2 {
    margin-right: 1.3rem;
}

.title {
    margin-top: 0;
    font-size: 3.5rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-style:italic;
    margin-bottom: 2rem;

}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.about, .login, .selections {
    padding: 1rem;
}

.about {
    width: 400px;
    padding: 0 1.5rem;
    padding-bottom: 2rem;
    text-align: center; 
    background-color: white;
    border: 2px solid gray;
    font-size: 1.5rem;
    align-self: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.about h2 {
    margin-bottom: 1rem;
}

.about p {
    margin-top: 0;
}

.login {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.login h2 {
    margin-bottom: 2.5rem;
    text-align: center;
}


input {
    padding: 1rem 0.5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

#loginBtn {
    margin-top: 10rem;
    padding: 1rem 10rem;
}

#loginBtn:hover {
    margin-top: 10rem;
    padding: 1rem 10rem;
    background-color: rgb(38, 38, 38);
}

.email {
    margin-bottom: 1.5rem;
}

.forgotPassword {
    color: #006ce5;
    margin: 1rem 0;
    font-size: 1rem;
}

button {
    color: white;
    background-color: rgb(82, 82, 82);
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    padding: 1rem 0;
    padding: 1rem 2rem;
    align-self: center;
    cursor: pointer;

}

#logoutBtn {
    margin-top: 1rem;
    background-color: whitesmoke;
    color: black;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Adding transition for smooth effect */

}

#logoutBtn:hover {
    background-color: rgb(59, 58, 58);
    color: whitesmoke;  
  box-shadow: rgba(50, 50, 93, 0.5) 0px 50px 100px -20px, rgba(0, 0, 0, 0.7) 0px 30px 60px -30px, rgba(10, 37, 64, 0.8) 0px -2px 6px 0px inset;
  transform: scale(1.05); /* Slightly scale up the element */
}

a {
    margin: 0 auto;
    text-decoration: none;
    color: black;
}

.selections {
    display: none;
    flex-direction: column;
    font-size: 1.5rem;
}

.selections a {
    margin: 0   ;
}

.selections h2 {
    text-align: center;
}

.selections button {
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
}

.gray-bg-white-color {
    background-color: #444444;
    color: white;
}

#started{
    color: rgb(11, 0, 0);
    font-size: 2.5rem;
}

.password-toggle {
    position: relative;
}

.eye-icon {
    position: absolute;
    top: 32%;
    right: 10px; /* Adjust the right position as needed */
    transform: translateY(-50%);
    cursor: pointer;
}

#password {
    padding-right: 30px; /* Adjust the padding to accommodate the icon */
    width: 100%;
}


@media (max-width: 800px) {
    :root {
        font-size: 0.6rem;
    }

    header {
        margin-bottom: 1rem;
    }
    
    .container {
        flex-direction: column;
    }

    .about {
        margin: 0 auto;
        width: 100%;
    }

    .login h2 {
        margin-bottom: 2rem;
    }

    .ud {
        justify-content: center;
    }
}
