* {
    box-sizing: border-box;
}

body {
    margin: 0 auto 0 auto;
    background-color: #f7f6f6;
    font-family: Arial, Helvetica, sans-serif;
}

.title-con {
    width: 83.2%;
    margin-left: auto;
}

#title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.5rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-style:italic;
}

.flexx {
    display: flex;
}

.bb {
    width: 300px;
    color: black;
    
}

.we {
    margin-top: 2rem;
}

.test {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 0;
    padding: 1rem 0;

}

.testLogout {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem 0;
}

#logoutBtn {
    background-color: gray;
    text-align: center;
}

.te {
    border-radius: 10px;
    margin: 0 2rem;

}

.te:hover {
    background-color: #f7af28;

}

#currentPage {
    background-color: #f7af28;
}

a {
    text-decoration: none;
    margin: 0 auto;
}

img {
    width: 20rem;
}

header {
    display: flex;
    align-items: center;
}

.image {
    border-bottom: 2px solid black;
   
}


header h1 {
    margin: auto;
    font-size: 3rem;
}

main {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
}

input[type="search"] {
    padding: 0.5rem;
}

.nav {
    position: fixed;
    height: 100vh;
    margin-right: 2rem;  
    background-color: #ffc760;
}

button {
    cursor: pointer;
}

.nav button {
    background-color: #5f5f5d;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 1rem;
    color: white;
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Adding transition for smooth effect */
}


.nav button:hover {
  background-color: rgb(59, 58, 58);
  box-shadow: rgba(50, 50, 93, 0.5) 0px 50px 100px -20px, rgba(0, 0, 0, 0.7) 0px 30px 60px -30px, rgba(10, 37, 64, 0.8) 0px -2px 6px 0px inset;
  transform: scale(1.05); /* Slightly scale up the element */
}

.nav .page-btn{
    background-color: rgb(241, 241, 26);
    color: #444444;
    border: 1px solid gray;
}

.nav .page-btn:hover {
    background-color: rgb(241, 241, 26);
  box-shadow: rgba(50, 50, 93, 0.5) 0px 50px 100px -20px, rgba(0, 0, 0, 0.7) 0px 30px 60px -30px, rgba(10, 37, 64, 0.8) 0px -2px 6px 0px inset;
  transform: scale(1.05); /* Slightly scale up the element */
}


.page-btn {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 1;
    margin-top: 1rem;
}

.table-container {
    width: 83.2%;
    padding: 1rem;
    background-color: #f7f6f6;
  
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.search-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#date {
    font-weight: bold;
}


tr input {
    display: block;
    margin: 1rem auto;
    width: 90%;
    padding: 0.4rem 0 0.4rem 0.5rem;
    text-align: center;
    font-size: 1.3rem;
    border: none;
    background-color: #f7f6f6;
}

tr input[type="range"] {
    width: 50px;
}

#search {
    font-size: 1.2rem;
}

table th {
    background-color: #54ac32;
    padding: 0.7rem 0.5rem;
    color: white;
    width: 14.28%; /* Distributing headers evenly among 7 columns */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Allow headers to wrap content and adjust width */
    white-space: normal; /* Allow content to wrap */
}

.save-addproduct {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 1rem;
}

.save-addproduct button {
    margin: 0 1rem;
    border: 0;
    width: 12.5rem;
    padding: 0.2rem;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1.2rem;
}

.editBtn {
    display: block;
    margin: auto;
    font-size: 1.3rem;
    background-color: green;
    border: 0;
    padding: 0.5rem 0.7rem;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.saveBtn:hover {
    background-color: orange;
}

.addBtn {
    background-color: #ebeaeb;
}

.addBtn:hover {
    background-color: rgb(80, 199, 80);
}


input[type="text"], input[type="number"] {

}
/* CSS for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999; /* Ensure the modal appears on top of other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 40px 25px;
    border: 1px solid #888;
    width: 20%;
    position: relative;
    font-size: 1.2rem;
    border-radius: 10px;
  }

  .readOnlyBG {
    background-color: rgb(172, 172, 172);
}

#modalSubmit, #saveEdit {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
  }
  
  /* Rest of your modal CSS remains the same */

  .modal h2 {
    text-align: center;
}

span {
    cursor: pointer;
}

.modal-content input {
    width: 100%;
    font-size: 1.2rem;
}

.modal-content select {
    width: 100%;
    font-size: 1.2rem;
}

.close, #close {
    position: absolute;
    left: 92%;
    cursor: pointer;
    font-size: 1.3rem;

    /* Add additional styling as needed */
}

label {
    font-weight: bold;
}

th:nth-child(1) {
    width: 8%; /* Width for the first column */
    padding: 1.3rem 0;
  }
  
  th:nth-child(2) {
    width: 8%; /* Width for the first column */
  }

  /* NOTIF */
.lowStockDiv {
    background-color: white;
    padding: 1rem;
    position: absolute;
    right: 3%;
    display: none;
    overflow: scroll;
    height: 130px;
}

.fa-bell {
    position: absolute;
    right: 6%;
    font-size: 2rem;
    top: 1%;
    cursor: pointer;
}

.badge {
    position: relative;
    font-family: sans-serif;
    color: red;
}


@media (max-width:800px) {
    :root {
        font-size: 0.5rem;
    }

    main {
        flex-direction: column-reverse;
    }

    tr input[type="range"] {
        width: 30px;
    }

    .nav {
        margin-top:  5rem;
    }

}

#prodTableContainer{
    max-height: 700px; /* Set the maximum height for the table container */
        overflow-y: auto; /* Enable vertical scrolling */
}

#productTable thead th {
    position: sticky;
    top: 0;
    
    z-index: 2;
    
}